<html lang="en">
<% include('./partials/head.ejs') %>

<body>
  <nav>
      <a href="/">Homepage</a>
      <a href="/about">About page</a>
      <a href="/create">Create</a>
  </nav>
  <div class="not-found content">
    OOPS, page not found :)
  </div>

</body>
</html>